/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap'); 

/* public */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Noto Sans', sans-serif;
}

a{
    text-decoration: none;
}

li{
    list-style-type: none;
}

h2{
    font-weight: 700;
    font-size:32px;
    color: #313140;
}

h3{
    font-weight: 700;
    font-size: 20px;
    color:#515164
}


/* navbar - start */
nav .container-fluid{
    width: 96% !important;
}
/* navbar - end */

/* header - start */
.container{
    width: 87% !important;
}
.icon-w{
    width: 3%;
}

.header-list{
    line-height: 10px;
}
/* header - end */

/*start italik offers style*/
.offers p{
    font-size: 14px;
    color:#9c9cac;
    width: 90%;
    height: 66px;
}

.offers a i{
font-size: 12px;
}
/*end italik offers style*/
