/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;300;400;500;600;700;800;900&display=swap');
/* font-family: 'Noto Sans', sans-serif; */


/* public */
body{
    font-family: 'Noto Sans', sans-serif;
    font-weight: 500;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #515164;
}

li{
    list-style-type: none;
}
*{
    margin: 0;
    padding: 0;
}

ul{
    list-style-type: none;
}
.clrfix{
    clear: both;
}

ul{
    padding: 0;
}
.text-gray{
    color: #515164 !important;
}
.text-gray2{
    color: #9c9cac !important;
}
h2{
    font-weight: 700;
    font-size:32px;
    color: #313140;
}
h3{
    font-weight: 700;
    font-size: 20px;
    color:#515164
}


/* ========================= GAITH - START ========================= */

/* select */
nav select,header select{
        color:black;
        cursor:pointer;
        font-size: 14px;
        font-family: 'Noto Sans', sans-serif;
        display: flex;
        height: 40px;
        transition: 0.5s;
        font-size: 14px;
}
select:hover {
    border-color: #000 !important;
}

/* navbar - start */
nav{
    position: fixed !important;
    background-color: #fff;
    width: 100%;
    top: 0;
    z-index: 999;

}
nav .container-fluid{
    width: 96% !important;
}
nav .nav-link{
    font-size: 14px !important;
    font-weight: 500 !important;
}
nav select{
    border: 1px solid;
}
nav .navbar-toggler{
    padding: 0 !important;
}
nav .btn-icon{
    background-color: #e5e8ed;

}
/* navbar - end */

/* header - start */
.icon-w{
    width: 3%;
}
header .header-desc h1{
    font-size: 48px !important;
}
header .header-list{
    line-height: 10px;
}
header .header-desc p{
    font-size: 14px;
    font-weight: 500;
}
header .header-btn{
    padding:10px 60px;
    font-size: 14px;
    font-weight: 700;
    background-color: #D3382F;
}
/* header - end */

/* language - start */
.language{
    position: relative;
}
.language .lang-desc .title{
    font-size: 14px;
}
.language .lang-desc span{
    font-size: 12px;
}
.language .lang-desc{
    position: relative;
}
.select-lang{
    position: absolute;
    top: 3px;
}
.language .lang:hover{
    background-color: #F5F6F9;
    border-radius: 15px;
}
.language .select-lang{
    opacity: 0;
}
.language select option{
    font-size: 14px;
}
.slick-arrow{
    position: absolute;
    top: 16px;
}
.prev_arrow i,.next_arrow i{
    position: absolute;
    top: -5px;
    padding: 10px 12px;
    border-radius: 50%;
    text-align: center;
    background-color: #F5F6F9;
    z-index: 998;
}
.next_arrow i{
    left: -0px;
    opacity: 0;
    transition: .2s;
}
.next_arrow i:hover{
    opacity: 1;
}
.prev_arrow i{
    right: -0px;
}
/* language - end */

/* ========================= GAITH - END ========================= */


/* ========================= TAIMA - START ========================= */

/*start italik offers style*/
.offers p{
    font-size: 14px;
    color:#9c9cac;
    width: 90%;
    height: 66px;
}
.offers a i{
font-size: 12px;
}
/*end italik offers style*/

/*  start classroom style */
.min-height{
    height: 80px;
}

.max-height{
    height:114px;
}

.card-img-top{
    position: relative;
}
.card-body{
   position: absolute; 
   top:82%;
   height: 212px;
}
.classroom  p{
        font-size: 14px;
        color:#515164;
}

.fs-sm{
    font-size: 12px;
    color:#9c9cAc;
}

.f-explor{
    font-size: 14px;
    color:#515164;
}
.explor-btn{
    display: flex;
    justify-content: center;
}
.p-description{
    overflow: hidden;
    text-transform: capitalize;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

div .img-div{
    position: relative;
   overflow: hidden;
    margin-right: 16px;
    flex-shrink: 0;
    max-width: 80px;
}

/*  end classroom style */

/* ========================= TAIMA - END ========================= */


/* ========================= YOUSEF - START ========================= */
.frequently{
    background-color: rgb(233,236,239);
}
.accordion {
    --bs-accordion-border-color: none;
    --bs-accordion-border-width: none;
    --bs-accordion-btn-icon-width: 0.75rem;
    --bs-accordion-btn-focus-box-shadow: unset !important;
    --bs-accordion-active-color: black;
    --bs-accordion-active-bg: #fff;
    border-radius: 100px;

}
.accordion-button {
    border: 0;
    overflow-anchor: none;
    margin-bottom: 10px;
}
.view-all{
    background-color: #fff;
    border-radius: 5px;
    width: 64.5%;
}
.d-links{
    background-color: rgb(255, 67, 56);
}
/* ========================= YOUSEF - END ========================= */
